body {
  background-color: black;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.side {
  position: fixed;
  /* side navigation bar 고정 */
  z-index: 1; /* css 최상위(맨위) */
  top: 30%;
}

.side a {
  z-index: 2;
  background: #c0392b;
  color: #c0392b;
  font-size: 30px;
  display: block;
  width: 220%;
  padding: 16px;
  text-decoration: none;
  margin: 8px 0;
  border-radius: 6px;
  margin-left: -60px;
  transition: 0.5s all; 
  /* 애니메이션 속도 지정 */
}

.side a:hover {
  /* side navigation bar hover 적용 */
  color: white;
  margin-left: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 140vh;
}

.hidden {
  opacity: 0;   /* opacity: 0; 안 보임 */
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;/* opacity가 변경되면 서서히 0.5초에 걸쳐서 변경해줌*/
}

.show {
  opacity: 1;
  filter: blur(0);
  /* 처음에는 흐리게 나오는 효과 */
  transform: translateX(0);
}

@media (prefers-reduced-motion) {/* 불필요한 애니메이션 동작 축소 */
  .hidden {
    transition: none;
  }
}


.logos {
  display: flex;
}
/* flex 레이아웃  적용*/

.logo:nth-child(2) {
  transition-delay: 200ms;
}
/* 사진마다 나오는 delay 설정 */

.logo:nth-child(3) {
  transition-delay: 200ms;
}

.logo:nth-child(4) {
  transition-delay: 200ms;
}
.logo:nth-child(5) {
  transition-delay: 200ms;
}

lottie-player {
  /*  JSON 기반의 애니메이션 라이브러리 LottieFiles 적용하기 위한 태그 생성 */
  z-index: 1;
  --lottie-player-seeker-track-color: white;
  --lottie-player-seeker-thumb-color: white;
}
